.countries {
  display: flex;
}

/* Add your own CSS code below */
.countries--first .country--ethiopia {
  align-self: flex-end;
}

.countries--second {
  display: flex;
  justify-content: center;
  align-items: center;
}
.countries--second .country--ethiopia {
  align-self: flex-end;
}

.countries--third {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
}
.countries--third .country--ethiopia,
.countries--third .country--croatia,
.countries--third .country--laos {
  align-self: flex-end;
}

.countries--fourth {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;
}

.countries--fourth .country--uganda {
  align-self: center;
}
